* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: url('https://i.pinimg.com/originals/32/b8/77/32b877ed4aa7778cc7d43ebb7d95a6f1.png') no-repeat center center fixed;
  background-size: cover;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 10px;
}

fieldset,
legend {
  border: none;
}

button {
  border: .03em solid rgba(51, 51, 51, 0.5);
  border-radius: 1em;
  box-shadow: .2em .2em .3em #636363;
  cursor: pointer;
  font-size: 1.25em;
  height: 2.5em;
  letter-spacing: .07em;
  margin: 0;
  padding: 0;
  width: 9em;
}

hr {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0));
  border: 0;
  height: .2em;
  margin: 4em 0;
}

.header-text {
  color: #00426C;
  font-size: 8em;
  margin: 0;
  padding: 0;
  padding-top: .5em;
  text-align: center;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255,255,255,0.9) 0 0.03em 0.05em;
}

.main-colors {
  display: flex;
  padding: 6em 0;
  justify-content: space-around;
}

.color-card {
  border: .2em solid rgba(51, 51, 51, 0.5);
  border-radius: 2em;
  box-shadow: inset 0 0 10px #333;
  display: flex;
  flex-direction: column-reverse;
  height: 30em;
  padding-bottom: 2.5em;
  text-align: center;
  width: 18%;
}

.color-value {
  background-color: whitesmoke;
  box-shadow: inset 0 0 10px #333;
  font-size: 2.5em;
  letter-spacing: .05em;
  padding: .4em 0;
}

.lock-icon {
  background-color: whitesmoke;
  background-image: url('../assets/unlocked.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65%;
  border-radius: 2em;
  box-shadow: inset 0 0 10px #333;
  height: 4em;
  margin: 2em auto;
  width: 4em;
}

.lock-icon:hover { 
  transform: scale(1.1);
}

.locked {
  background-image: url('../assets/locked.svg');
  transition: all .3s ease-in-out;
}

.generate-wrapper {
  text-align: center;
}

.generate-palette {
  box-shadow: inset 0 0 10px #333;
  font-size: 2em;
  height: 3em;
  margin-bottom: 2em;
  width: 14em;
}

.save-palette-form {
  display: flex;
  justify-content: center;
}

.save-palette-input,
.save-project-input {
  border: .1em solid #333;
  border-radius: 1em;
  height: 3em;
  letter-spacing: .07em;
  margin: 0 1em;
  padding-left: 1em;
  width: 20em;
}

.palette-dropdown {
  border: .1em solid #333;
  height: 3em;
  width: 12em;
}

.save-project {
  margin-bottom: 2em;
  text-align: center;
}

.save-project-legend {
  color: whitesmoke;
  font-size: 2.5em;
  margin-bottom: .8em;
  padding-right: 3.5em;
}

.split-projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.the-projects-width {
  margin-top: 1.5em;
  width: 40%;
}

.projects {
  display: flex;
  flex-direction: column;
}

.saved-project-name {
  border: .1em solid #000;
  cursor: default;
  font-size: 1.5em;
  height: 3em;
  margin-bottom: 1em;
  outline: none;
}

.palette-projects {
  display: flex;
  justify-content: flex-end;
  margin: 1em 0;
}

.saved-palette-title {
  color: whitesmoke;
  font-size: 2em;
  letter-spacing: 0.05em;
  margin-right: 1.5em;
  padding-top: .6em;
}

.saved-palette-colors {
  border: .2em solid rgba(51, 51, 51, 0.5);
  border-radius: 2em;
  box-shadow: inset 0 0 10px #333;
  height: 5em;
  margin-left: 1em;
  width: 5em;
}

.delete-saved-palette {
  background-color: rgba(255, 255, 255, 0);
  background-image: url('../assets/trash.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 2.5em;
  margin-top: .8em;
  margin-left: 1.5em;
  border: none;
  box-shadow: none;
  width: 3em;
}